
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px 20px 20px 20px;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 48px;
  margin-bottom: 20px;
  background-color:#007bff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
}

.features-heading {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

section {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.row.justify-content-center {
  justify-content: center;
}

.feature {
  margin-bottom: 30px;
}

.feature-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.feature-img {
  position: relative;
  padding-bottom: 0;
}

.feature-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.feature-box {
  padding: 20px;
}

.feature-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mbr-text {
  font-size: 16px;
  line-height: 1.5;
}

.column {
  text-align: center;
  margin-top: 50px;
}

.cta-button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
}

/* Responsive */
@media (max-width: 767px) {
  .feature {
    text-align: center;
  }
  .hero-title {
    font-size: 36px;
  }
}