body {
    background: url('../images/contact_bg.jpg') no-repeat top center;
    height: 100vh;
}
#kody_icon {
    height: 40px;
    width: 80px;
}
.custom-container {
    width: 100%;
}

.social-icons {
    position: absolute;
    top: 0;
    left: 52%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.social-icons .nav-item {
    margin-right: 3px;
}
.nav-item {
    margin-left: 10px;
    font-size: larger;
}
.font-bold {
    font-weight: bold;
}
/*Login and Sign-Up styling*/
#login-signup {
    position: absolute;
    /* bottom: 0; */
    left: 55%;
    transform: translateX(50%);
    display: flex;
    align-items: center;
}

#login-signup a {
    margin-right: 5px;
}

#login-signup a:last-child {
    margin-right: 0;
} 
/*Logout styling*/
#logout {
    position: absolute;
    left: 52%;
    transform: translateX(50%);
    display: flex;
}

#logout a {
    margin: 5px;
}
#logout #log {
    margin-right: 15px;
} 


/*Footer styling*/
.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 10px 0;
    /* background: linear-gradient(to right, rgb(136, 188, 201), #c07cbd); */
    background-color: rgb(78, 76, 76);
}
.row {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
#f {
    color: white;
}
.col {
    flex-basis: 30%;
    margin-left: 35px;

}
.my-icons {
    font-size: 14px;
}

/* Responsive */
@media (max-width: 767px) {
    #logout {
        flex-direction: column;
    }
}