.social-icons {
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.social-icons .nav-item {
    margin-right: 10px;
}
#home {
    margin-left: 60px;
}
.nav-item {
    margin-left: 20px;
}
.font-bold {
    font-weight: bold;
  }
