/* .edit {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.edit .container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-left: 30%;
    padding-right: 30%;
    background-color: bisque;
    height: 100%;
    width: 100%;

}


.submit-button {
    height: 35px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    margin: 10px;
    background-color: rgba(0, 0, 255);
}