/* *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
body {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
header{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field {
    display: flex;
    flex-direction: column;
}
.input{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #06090a;
    padding: 0 0 0 30px;
    background-color: none;
    margin: 10px;
}
::-webkit-input-placeholder {
    color:#6d5b5b;
}
.submit {
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    margin: 10px;
    background-color: rgba(0, 0, 255);
}
