.properties-section {
  height: auto;
  width: 100%;
}

#section {
background-color: #fff;
}
.filter-section {
  background-color: rgba(135, 135, 135, 0.299);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 0%;
}