.properties-section {
    height: auto;
    width: 100%;
  }
  
  #section {
    background-color: #fff;
  }
  
.properties .container #carouselExampleIndicators {
    height: 350px;
    max-width: 100%;
  }
  
  .properties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 960px;
  }
  
  .properties .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33.33%;
    max-width: 300px;
  }
  
  .properties .container img {
    width: 400px;
    height: 300px;
    object-fit: cover;
  }
  
  .properties .container .property-details {
    margin-top: 10px;

    width: 100%;
  }
  