{% extends 'base.html' %}
{% block title %} {{ agent.name }} {% endblock %}

{% block content %}
<h1>{{ agent.name }}</h1>

<h2>Properties Listed:</h2>
<ul>
  {% for property in agent_properties %}
  <!-- Retrieve the images for the current property -->
  {% set property_images = files[property.id] %}
  
  <!-- Iterate through the images and display them -->
  <ul>
    {% for image in property_images %}
      <li><img src="../static/uploads/{{ image }}" alt="Image"></li>
    {% endfor %}
  </ul>
  <li>{{ property.name }}</li>
  <li>Bedroom(s): {{ property.bd }}</li>
  <li>Location: {{ property.location }}</li>
  {% endfor %}
</ul>
{% endblock %}