{% extends 'base.html' %} 
{% block title %}Our Agents{% endblock %}

{% block content %}

<h2>Our Agents:</h2>
<div>
  {% for agent in agents %}
  <div>
    <li><a href="/agent/{{ agent.id }}">{{ agent.name }}</a></li>
    <li>Contact: {{ agent.contact }}</li>
    <ul>
      <!-- {% for property in user_properties %} -->
      <!-- Retrieve the images for the current property -->
      <!-- {% set property_images = files[property.id] %} -->
    
      <!-- Iterate through the images and display them -->
      <!-- {% for image in property_images %}
        <li><img src="../static/uploads/{{ image }}" alt="Image"></li>
      {% endfor %}
      <li>{{ property.name }}</li>
      <li>Bedroom(s): {{ property.bd }}</li>
      <li>Location: {{ property.location }}</li>
      <li>{{ agent.name }} - contact: {{ agent.contact }}</li>
      {% endfor %} -->
    </ul>
  </div>
  {% endfor %}

</div>
{% endblock %}