<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../static/styles/login.css" />
    <link rel="stylesheet" href="../static/styles/about.css" />
    <link rel="stylesheet" href="../static/styles/contact.css" />
    <link rel="stylesheet" href="../static/styles/base.css" />
    <link rel="stylesheet" href="../static/styles/profile.css" />
    <link rel="stylesheet" href="../static/styles/home.css" />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <div class="social-icons">
            <a class="nav-item nav-link" href="#">
              <i class="fa fa-facebook text-primary"></i>
              <span class="sr-only">Visit our Facebook page</span>
            </a>
            <a class="nav-item nav-link" href="#">
              <i class="fa fa-twitter text-info"></i>
              <span class="sr-only">Visit our Twitter page</span>
            </a>
            <a class="nav-item nav-link" href="#">
              <i class="fa fa-instagram text-danger"></i>
              <span class="sr-only">Visit our Instagram page</span>
            </a>
          </div>
          <a class="nav-item nav-link" id="home" href="/">
            <img id="kody_icon" src="../static/images/kody_icon.jpg" alt="Icon">
          </a>
          <a class="nav-item nav-link" id="aboutUs" href="/aboutUs">About Us</a>
          <a class="nav-item nav-link" id="properties" href="/properties"
            >Properties</a
          >
          <a class="nav-item nav-link" id="agents" href="/agents">Agents</a>
          <a class="nav-item nav-link" id="contactUs" href="/contactUs"
            >Contact Us</a
          >
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign-up</a>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error'%}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <div class="custom-container">{% block content %} {% endblock %}</div>
    <!-- Footer -->
    <!-- <footer class="footer bg-dark text-white py-4"> -->
    <footer class="footer">
      <div class="row">
        <div class="col">
          <!-- Links (except Logout) -->
          <div class="left">
            <p><a class="text-white mr-3" href="/">HOME</a></p>
            <p><a class="text-white mr-3" href="/aboutUs">About Us</a></p>
            <p><a class="text-white mr-3" href="/properties">Properties</a></p>
            <p><a class="text-white mr-3" href="/agents">Agents</a></p>
            <p><a class="text-white" href="/contactUs">Contact Us</a></p>
          </div>
        </div>
        <div class="col">
          <!-- Location icon and address -->
          <p id="f">
            <i class="bi bi-geo-alt-fill mr-2"></i>
            LOCATED AT
          </p>
          <p></p>
          <p id="f">Kingpalay Building, 4th floor</p>
          <p id="f">Moi Avenue, Nairobi</p>
        </div>
        <div class="col">
          <!-- Social media icons -->
          <p id="f">SOCIALS</p>
          <p></p>
          <div class="my-icons">
            <p>
              <a class="text-white" href="#">
                <i class="fa fa-facebook text-primary"></i>
                Visit our Facebook page
              </a>
            </p>
        
            <p>
              <a class="text-white" href="#">
                <i class="fa fa-twitter text-info"></i>
                Visit our Twitter page
              </a>
            </p>
        
            <p>
              <a class="text-white" href="#">
                <i class="fa fa-instagram text-danger"></i>
                Visit our Instagram page
              </a>
            </p>
          </div>
        </div>        
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
