{% extends 'base.html' %} {% block content %}
<h1>Properties</h1>
<form method="POST">
  <label for="propertyName">Property Name:</label>
  <input type="text" name="propertyName" id="propertyName" required />
  <br />
  <label for="bd">Bedroom(s):</label>
  <input type="number" name="bd" id="bd" required />
  <br />
  <label for="location">Location:</label>
  <input type="text" name="location" id="location" required />
  <br />
  <input type="submit" value="Add Property" />
</form>
<h1>Upload Image</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="property_id" value="{{ property_id }}" />
  <input type="file" name="image" accept="image/*" />
  <button type="submit">Upload</button>
</form>
{% endblock %}
