{% extends 'base.html' %} {% block title %} {{ current_user.name }} {% endblock
%}
<link rel="stylesheet" href="../static/styles/profile.css" />
{% block content %}
<section class="welcome-section">
  <h1>Welcome, {{ current_user.name }}!</h1>

  {% if not pic.filename %}
  <div class="upload-section">
    <h3>Upload the business Logo or your profile picture</h3>
    <form
      action="/upload_pic/{{ current_user.id }}"
      method="POST"
      enctype="multipart/form-data"
    >
      <input
        type="hidden"
        name="current_user_id"
        value="{{ current_user.id }}"
      />
      <input type="file" name="image" accept="image/*" />
      <button type="submit">Upload</button>
    </form>
  </div>
  {% else %}
  <div class="profile-section">
    <div class="profile-picture">
      <img
        src="../static/uploads/{{ pic.filename }}"
        alt="Profile Photo"
        onclick="enableEdit(this)"
      />
      <form
        action="/upload_pic/{{ current_user.id }}"
        method="POST"
        enctype="multipart/form-data"
        id="profilePicForm"
      >
        <input
          type="hidden"
          name="current_user_id"
          value="{{ current_user.id }}"
        />
        <input type="file" name="image" accept="image/*" />
        <button type="submit">Upload</button>
      </form>
    </div>
    <div class="profile-details">
      <b>
        <p>{{ current_user.name }}</p>
        <p>email: {{ current_user.email }}</p>
        <p>contact: {{ current_user.contact }}</p>
      </b>
      <span style="font-size: 24px; color: green">
        <a href="/details/edit">
          <i class="bi bi-pencil-fill"></i>
        </a>
      </span>
    </div>
  </div>
  {% endif %} {% if not pic.description %}
  <div class="editable-section">
    <p class="editable" onclick="enableEdit(this)">Add description</p>
  </div>
  {% else %}
  <div class="editable-section">
    <p class="editable" onclick="enableEdit(this)">{{ pic.description }}</p>
  </div>
  {% endif %}

  <form method="POST" id="editForm" style="display: none">
    <div class="msg">
      <textarea
        placeholder="Edit description"
        name="description"
        id="editDescription"
      ></textarea>
      <button type="submit" class="cta-button">Submit</button>
    </div>
  </form>

  <section class="properties-section">
    <h2>Your Properties:</h2>
    {% for property in user_properties %} {% set property_images =
    files[property.id] %}
    <div class="container">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          {% for image in property_images %}
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="{{ loop.index0 }}"
            {%
            if
            loop.first
            %}class="active"
            {%
            endif
            %}
          ></li>
          {% endfor %}
        </ol>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="carousel-inner">
                {% for image in property_images %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                  <img
                    class="d-block w-100"
                    id="responsive-image"
                    src="../static/uploads/{{ image }}"
                    alt="Image"
                    {{
                    loop.index
                    }}
                  />
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="property-details">
        <div>
          <b
            >{{ property.bd }} Bedroom(s) at {{ property.name }} in {{
            property.location }}
            <p>Ksh.{{ property.price }}</p>
          </b>
        </div>
        <div class="property-actions">
          <span style="font-size: 24px; color: green">
            <a href="/profile/{{property.id}}/edit">
              <i class="bi bi-pencil-fill"></i>
            </a>
          </span>
          <span style="font-size: 24px; color: rgba(223, 46, 46, 0.998)">
            <a href="/profile/{{property.id}}/delete">
              <i class="bi bi-trash-fill"></i>
            </a>
          </span>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</section>

<script>
  function enableEdit(element) {
    if (element.classList.contains("profile-picture")) {
      var profilePicForm = document.getElementById("profilePicForm");
      profilePicForm.style.display = "block";
    } else if (element.classList.contains("editable")) {
      var descriptionElement = document.getElementById("editDescription");
      var editForm = document.getElementById("editForm");
      descriptionElement.value = element.innerText;
      editForm.style.display = "block";
    }
  }
</script>

{% endblock %}
