{% extends 'base.html' %} {% block title %}Properties{% endblock %} {% block
  content %}
  
  <section class="filter-section">
    <h3>Filter Properties:</h3>
    <div class="filter-controls">
      <label for="location">Location:</label>
      <select id="location"></select>
  
      <label for="price">Price:</label>
      <select id="price"></select>
  
      <label for="agency">Agency:</label>
      <select id="agency"></select>
  
      <label for="bedrooms">Bedrooms:</label>
      <select id="bedrooms"></select>
    </div>
  </section>
  
  <section class="properties-section">
    <h2>Houses Available for Rent:</h2>
    <div class="properties" id="section">
      {% for property in properties %} {% set property_images =
        files[property.id].filenames %}
        <div class="carousel_container" data-location="{{ property.location }}" data-price="{{ property.price }}" data-agency="{{ files[property.id].agency_name }}" data-bedrooms="{{ property.bd }}" >
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              {% for image in property_images %}
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="{{ loop.index0 }}"
                {%
                if
                loop.first
                %}class="active"
                {%
                endif
                %}
              ></li>
              {% endfor %}
            </ol>
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-8 offset-lg-2">
                  <div class="carousel-inner">
                    {% for image in property_images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                      <img
                        class="d-block w-100"
                        id="responsive-image"
                        src="../static/uploads/{{ image }}"
                        alt="Image"
                        {{
                        loop.index
                        }}
                      />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="property-details">
            <div>
              <p>Agency Name: {{ files[property.id].agency_name }}</p>
              <p>Contact: 0{{ files[property.id].contact }}</p>
              <b>
                {{ property.bd }} Bedroom(s) at {{ property.name }} in {{
                property.location }}
                <p>Ksh.{{ property.price }}</p>
              </b>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  
  {% endblock %}