{% extends 'base.html' %} {% block title %}Properties{% endblock %} {% block
  content %}
  <section class="filter-section">
    <div class="filter-controls">
      <label for="location">Location:</label>
      <select id="location"></select>
      <label for="price">Price:</label>
      <select id="price"></select>
      <label for="agency">Agency:</label>
      <select id="agency"></select>
      <label for="bedrooms">Bedrooms:</label>
      <select id="bedrooms"></select>
    </div>
  </section>
  <section class="properties-section">
    <h2>Houses Available for Rent:</h2>
    <div class="property-sections">
      <div class="row">
        {% for property in properties %} {% if loop.index0 % 3 == 0 and not
        loop.first %}
      </div>
      <div class="row">
        {% endif %}
        <div class="col-md-4">
          <div class="property-column">
            <div class="property-info">
              <div
                class="property-carousel"
                data-location="{{ property.location }}"
                data-price="{{ property.price }}"
                data-agency="{{ files[property.id].agency_name }}"
                data-bedrooms="{{ property.bd }}"
              >
                <div
                  id="carousel-{{ property.id }}"
                  class="carousel slide"
                  data-ride="carousel"
                >
                  <ol class="carousel-indicators">
                    {% for image in files[property.id].filenames %}
                    <li
                      data-target="#carousel-{{ property.id }}"
                      data-slide-to="{{ loop.index0 }}"
                      {%
                      if
                      loop.first
                      %}class="active"
                      {%
                      endif
                      %}
                    ></li>
                    {% endfor %}
                  </ol>
                  <div class="carousel-inner">
                    {% for image in files[property.id].filenames %}
                    <div
                      class="carousel-item {% if loop.first %}active{% endif %}"
                    >
                      <img
                        class="d-block w-100"
                        src="../static/uploads/{{ image }}"
                        alt="Property Image"
                      />
                    </div>
                    {% endfor %}
                  </div>
                  <a
                    class="carousel-control-prev"
                    href="#carousel-{{ property.id }}"
                    role="button"
                    data-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a
                    class="carousel-control-next"
                    href="#carousel-{{ property.id }}"
                    role="button"
                    data-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="property-details">
                <p>Agency Name: {{ files[property.id].agency_name }}</p>
                <p>Contact: 0{{ files[property.id].contact }}</p>
                <b>
                  {{ property.bd }} Bedroom(s) at {{ property.name }} in {{
                  property.location }}
                  <p>Ksh.{{ property.price }}</p>
                </b>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endblock %}