{% extends "base.html" %} {% block title %}Sign-up{% endblock %} {% block
content %}
<div class="sign_con">
  <form method="POST">
    <div class="sign_box">
      <div class="sign_container">
        <div class="top-header">
          <h3>Sign-Up</h3>
        </div>
        <div class="input-field">
          <input
            type="agencyName"
            class="input"
            id="agencyName"
            name="agencyName"
            placeholder="Enter agency name"
          />
        </div>
        <div class="input-field">
          <input
            type="email"
            class="input"
            id="email"
            name="email"
            placeholder="Enter agency email"
          />
        </div>
        <div class="input-field">
          <input
            type="contact"
            class="input"
            id="contact"
            name="contact"
            placeholder="Enter contact details"
          />
        </div>

        <div class="input-field">
          <input
            type="password"
            class="input"
            id="password"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <div class="input-field">
          <input
            type="password"
            class="input"
            id="password2"
            name="password2"
            placeholder="Confirm password"
          />
        </div>

        <div class="input-field">
          <input type="submit" class="submit" value="Submit" />
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
